<a href="https://colab.research.google.com/github/satanjj10/web-crawler-and-database_course/blob/main/%E8%B3%87%E6%96%99%E5%BA%AB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.5 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
import pymysql

link = pymysql.connect(
    host = "0.tcp.jp.ngrok.io",
    user = "root",
    passwd = "",
    db = "ai2022-01",
    charset = "utf8",
    port = 17064
)

cur = link.cursor()

data = ["A" , "B" , "2022-05-19" , "C"]
cur.execute("INSERT INTO `news`(`title`,`description`,`create_date`,`source`) VALUES(%s,%s,%s,%s)",data)
link.commit()

link.close()

In [ ]:
import pymysql

link = pymysql.connect(
    host = "0.tcp.jp.ngrok.io",
    user = "root",
    passwd = "",
    db = "ai2022-01",
    charset = "utf8",
    port = 17064
)

cur = link.cursor()

data = {
    "A" : "123",
    "B" : "123",
    "C" : "2022-05-19",
    "D" : "123"
}
cur.execute("INSERT INTO `news`(`title` , `description` , `create_date` , `source`) VALUES(%(A)s,%(B)s,%(C)s,%(D)s)",data)
link.commit()

link.close()

OperationalError: ignored

In [ ]:
#可用input要使用者自行輸入，用dict在data裡順序可顛倒，VALUES裡有對應參數即可
import pymysql

link = pymysql.connect(
    host = "0.tcp.jp.ngrok.io",
    user = "root",
    passwd = "",
    db = "ai2022-01",
    charset = "utf8",
    port = 17064
)

cur = link.cursor()

data = {
    "D" : input("請輸入來源:"),
    "A" : input("請輸入標題:"),
    "B" : input("請輸入內容:"),
    "C" : input("請輸入日期:"),
    
}
cur.execute("INSERT INTO `news`(`title` , `description` , `create_date` , `source`) VALUES(%(A)s,%(B)s,%(C)s,%(D)s)",data)
link.commit()

link.close()

請輸入來源:AA
請輸入標題:AA
請輸入內容:AA
請輸入日期:2022-05-20

OperationalError: ignored

In [ ]:
import pymysql

link = pymysql.connect(
    host = "0.tcp.jp.ngrok.io",
    user = "root",
    passwd = "",
    db = "ai2022-01",
    charset = "utf8",
    port = 17064
)

cur=link.cursor()


cur.execute("SELECT * FROM `news`")
# 取全部資料，指定第一和第二欄
ret=cur.fetchall()
for d in ret:
  print(d[0],d[1])

print("===========================")
cur.execute("SELECT * FROM `news`")
# 只取第一筆資料
ret=cur.fetchone()
print(ret[0],ret[1])

ret=cur.fetchone()
print(ret[0],ret[1])

link.close()

1 安杰物業突圍出擊 緯育TibaMe助陣打造物業黃埔軍校
2 緯創旗下緯育 推數位轉型講座與規模化培訓課程
3 疫情不必停學緯育TibaMe課程無縫轉線上｜ 蘋果新聞網｜ 蘋果 ...
4 緯育TibaMe就業養成班和你疫起集氣+0
5 緯創子公司緯育培訓班詢問度增| 聯合新聞網
6 A
===========================
1 安杰物業突圍出擊 緯育TibaMe助陣打造物業黃埔軍校
2 緯創旗下緯育 推數位轉型講座與規模化培訓課程

In [ ]:
import pymysql
link=pymysql.connect(
  host="0.tcp.jp.ngrok.io",
  user="root",
  passwd="",
  db="ai2022-01",
  charset="utf8",
  port=17064
)
cur=link.cursor()

cur.execute("SELECT * FROM `news`")
# 總資料數量
ret=cur.rowcount
print("資料數量：",ret)

data={
  "b":"2222",
  "c":"2022-05-19",
  "a":"1111",
  "d":"3333"
}
cur.execute("INSERT INTO `news`(`title`,`description`,`create_date`,`source`) VALUES(%(a)s,%(b)s,%(c)s,%(d)s)",data)
link.commit()
print("剛剛新增的那筆資料的ID：",cur.lastrowid)

link.close()

資料數量： 6
剛剛新增的那筆資料的ID： 7

In [ ]:
#作業
import pymysql
import prettytable
import os

link=pymysql.connect(
  host = input("請輸入主機位置:"),
  user = input("請輸入資料庫帳號:"),
  passwd = input("請輸入資料庫密碼:"),
  port = int(input("請輸入資料庫的Port:")),
  db = input("請輸入資料庫的名稱:"),
  charset = "utf8"
)

cur=link.cursor()  
while True:
  print("""(0) 離開程式
(1) 顯示會員列表
(2) 新增會員資料
(3) 更新會員資料
(4) 刪除會員資料
  """)
  order = int(input("指令:"))
  if order == 1:
    cur.execute("SELECT * FROM `member`")
    ret = cur.fetchall()
    p1 = prettytable.PrettyTable(["編號","姓名","生日","地址"], encoding = "utf-8")
    p1.align = "l"
    for dd in ret:
      p1.add_row([dd[0],dd[1],dd[2],dd[3]])
    print(p1)
  elif order == 2:
    data = {
        "A" : input("請輸入會員姓名:"),
        "B" : input("請輸入會員生日:"),
        "C" : input("請輸入會員地址:"),      
    }
    cur.execute("INSERT INTO `member`(`name` , `birthday` , `address`) VALUES(%(A)s,%(B)s,%(C)s)", data)
    link.commit()
  elif order == 3:
    cur.execute("SELECT * FROM `member`")
    ret = cur.fetchall()
    p1 = prettytable.PrettyTable(["編號","姓名","生日","地址"], encoding = "utf-8")
    p1.align = "l"
    for dd in ret:
      p1.add_row([dd[0],dd[1],dd[2],dd[3]])
    print(p1)

    data = {
        "D" : input("請選擇你要修改的資料編號:"),
        "A" : input("請輸入會員姓名:"),
        "B" : input("請輸入會員生日:"),
        "C" : input("請輸入會員地址:"),     
    }
    cur.execute("UPDATE `member` SET `name` = %(A)s, `birthday` = %(B)s, `address` = %(C)s WHERE `id` = %(D)s", data)
    link.commit()
  elif order == 4:
    cur.execute("SELECT * FROM `member`")
    ret = cur.fetchall()
    p1 = prettytable.PrettyTable(["編號","姓名","生日","地址"], encoding = "utf-8")
    p1.align = "l"
    for dd in ret:
      p1.add_row([dd[0],dd[1],dd[2],dd[3]])
    print(p1)
    data = {
        "A" : input("請選擇你要刪除的資料編號:"),      
    }
    cur.execute("DELETE FROM `member` WHERE `id` = %(A)s", data)
    link.commit()
  else:
    break2

link.close()

請輸入主機位置:0.tcp.jp.ngrok.io
請輸入資料庫帳號:root
請輸入資料庫密碼:
請輸入資料庫的Port:11994
請輸入資料庫的名稱:ai2022-01
(0) 離開程式
(1) 顯示會員列表
(2) 新增會員資料
(3) 更新會員資料
(4) 刪除會員資料

指令:1
+------+--------+------------+--------------+
| 編號 | 姓名   | 生日       | 地址         |
+------+--------+------------+--------------+
| 1    | 陳文在 | 1993-11-01 | 台北市中山區 |
| 2    | 蕭宇殷 | 1990-05-22 | 新北市板橋區 |
| 3    | 藍天晴 | 1997-02-10 | 桃園市中壢區 |
| 4    | 林致世 | 1992-10-10 | 新竹縣竹東鎮 |
| 5    | 呂來來 | 1997-03-01 | 新北市萬里區 |
| 10   | 蔡杉智 | 1993-07-05 | 台北市大安區 |
| 11   | 姚文武 | 1995-07-11 | 台北市北投區 |
| 12   | 關自如 | 1996-10-21 | 新北市永和區 |
| 20   | 周怡敏 | 1988-12-11 | 新北市三重區 |
| 21   | 白依依 | 1985-01-05 | 新北市新店區 |
| 22   | 鄭芷茵 | 1993-02-10 | 新北市林口區 |
+------+--------+------------+--------------+
(0) 離開程式
(1) 顯示會員列表
(2) 新增會員資料
(3) 更新會員資料
(4) 刪除會員資料

指令:2
請輸入會員姓名:111
請輸入會員生日:111
請輸入會員地址:111
(0) 離開程式
(1) 顯示會員列表
(2) 新增會員資料
(3) 更新會員資料
(4) 刪除會員資料

指令:1
+------+--------+------------+--------------+
| 編號 | 姓名   | 生日       | 地址         |
+------+--------+------------+--------------+
| 1    | 陳文在 | 1993-11-01 | 台北市中山區 |
| 2    | 蕭宇殷 | 1990-05-22 | 新北市板橋區 |
| 3    | 藍天晴 | 1997-02-10 | 桃園市中壢區 |
| 4    | 林致世 | 1992-10-10 | 新竹縣竹東鎮 |
| 5    | 呂來來 | 1997-03-01 | 新北市萬里區 |
| 10   | 蔡杉智 | 1993-07-05 | 台北市大安區 |
| 11   | 姚文武 | 1995-07-11 | 台北市北投區 |
| 12   | 關自如 | 1996-10-21 | 新北市永和區 |
| 20   | 周怡敏 | 1988-12-11 | 新北市三重區 |
| 21   | 白依依 | 1985-01-05 | 新北市新店區 |
| 22   | 鄭芷茵 | 1993-02-10 | 新北市林口區 |
| 35   | 111    | 0000-00-00 | 111          |
+------+--------+------------+--------------+
(0) 離開程式
(1) 顯示會員列表
(2) 新增會員資料
(3) 更新會員資料
(4) 刪除會員資料

指令:3
+------+--------+------------+--------------+
| 編號 | 姓名   | 生日       | 地址         |
+------+--------+------------+--------------+
| 1    | 陳文在 | 1993-11-01 | 台北市中山區 |
| 2    | 蕭宇殷 | 1990-05-22 | 新北市板橋區 |
| 3    | 藍天晴 | 1997-02-10 | 桃園市中壢區 |
| 4    | 林致世 | 1992-10-10 | 新竹縣竹東鎮 |
| 5    | 呂來來 | 1997-03-01 | 新北市萬里區 |
| 10   | 蔡杉智 | 1993-07-05 | 台北市大安區 |
| 11   | 姚文武 | 1995-07-11 | 台北市北投區 |
| 12   | 關自如 | 1996-10-21 | 新北市永和區 |
| 20   | 周怡敏 | 1988-12-11 | 新北市三重區 |
| 21   | 白依依 | 1985-01-05 | 新北市新店區 |
| 22   | 鄭芷茵 | 1993-02-10 | 新北市林口區 |
| 35   | 111    | 0000-00-00 | 111          |
+------+--------+------------+--------------+
請選擇你要修改的資料編號:35
請輸入會員姓名:222
請輸入會員生日:222
請輸入會員地址:22
(0) 離開程式
(1) 顯示會員列表
(2) 新增會員資料
(3) 更新會員資料
(4) 刪除會員資料

指令:4
+------+--------+------------+--------------+
| 編號 | 姓名   | 生日       | 地址         |
+------+--------+------------+--------------+
| 1    | 陳文在 | 1993-11-01 | 台北市中山區 |
| 2    | 蕭宇殷 | 1990-05-22 | 新北市板橋區 |
| 3    | 藍天晴 | 1997-02-10 | 桃園市中壢區 |
| 4    | 林致世 | 1992-10-10 | 新竹縣竹東鎮 |
| 5    | 呂來來 | 1997-03-01 | 新北市萬里區 |
| 10   | 蔡杉智 | 1993-07-05 | 台北市大安區 |
| 11   | 姚文武 | 1995-07-11 | 台北市北投區 |
| 12   | 關自如 | 1996-10-21 | 新北市永和區 |
| 20   | 周怡敏 | 1988-12-11 | 新北市三重區 |
| 21   | 白依依 | 1985-01-05 | 新北市新店區 |
| 22   | 鄭芷茵 | 1993-02-10 | 新北市林口區 |
| 35   | 222    | 0000-00-00 | 22           |
+------+--------+------------+--------------+
請選擇你要刪除的資料編號:35
(0) 離開程式
(1) 顯示會員列表
(2) 新增會員資料
(3) 更新會員資料
(4) 刪除會員資料

指令:1
+------+--------+------------+--------------+
| 編號 | 姓名   | 生日       | 地址         |
+------+--------+------------+--------------+
| 1    | 陳文在 | 1993-11-01 | 台北市中山區 |
| 2    | 蕭宇殷 | 1990-05-22 | 新北市板橋區 |
| 3    | 藍天晴 | 1997-02-10 | 桃園市中壢區 |
| 4    | 林致世 | 1992-10-10 | 新竹縣竹東鎮 |
| 5    | 呂來來 | 1997-03-01 | 新北市萬里區 |
| 10   | 蔡杉智 | 1993-07-05 | 台北市大安區 |
| 11   | 姚文武 | 1995-07-11 | 台北市北投區 |
| 12   | 關自如 | 1996-10-21 | 新北市永和區 |
| 20   | 周怡敏 | 1988-12-11 | 新北市三重區 |
| 21   | 白依依 | 1985-01-05 | 新北市新店區 |
| 22   | 鄭芷茵 | 1993-02-10 | 新北市林口區 |
+------+--------+------------+--------------+
(0) 離開程式
(1) 顯示會員列表
(2) 新增會員資料
(3) 更新會員資料
(4) 刪除會員資料

指令:0